/*
   WorldWideCalendar_ui.css
   Copyright © 2010 David M. Anderson

   WorldWideCalendar.info Cascading Style Sheet: user interface elements.
*/

.Button
{
    color: #EEEEEE;
    background-color: #003366;
    border-color: #DFDFFF;
    border-width: medium;
    border-style: outset;
    border-radius: 0.75em;
    -moz-border-radius: 0.75em;
    -webkit-border-radius: 0.75em;
    padding: 0.25em 1em;
    text-align: center;
    text-decoration: none;
    padding: 0.25em 1em;
    margin: 0.25em 1em
}

.Button:hover, 
.Button:active
{ 
    color: #FFFFFF;
    background-color: #336699;
    border-style: inset;
}

form div.ButtonGroup
{
    text-align: center;
}

