/*
   WorldWideCalendar_forms.css
   Copyright © 2010 David M. Anderson

   WorldWideCalendar.info Cascading Style Sheet: forms.
*/

.DatePart
{
    font-weight: bold;
}
.DatePart2
{
    font-weight: normal;
}

input
{
    text-align: center;
}
select
{
    text-align: center;
}

label
{
    margin-left: 1em;
}

table.MayanLongCount td
{
    width: 4.5em;
}
table.MayanLongCount td.Dot
{
    width: 0;
}
table.MayanLongCount label
{
    margin-left: 0;
}

td.ChineseDay
{
    width: 12em;
}
td.ChineseMonth
{
    width: 14em;
}
td.ChineseYear
{
    width: 16em;
}

