/*
   WorldWideCalendar_base.css
   Copyright © 2010 David M. Anderson

   WorldWideCalendar.info Cascading Style Sheet
*/

/*== Basics =================================================================*/

*
{
    padding: 0;
    margin: 0;
}

body,
html
{ 
    width: 100%;
    height: 100%;
}

body
{
    text-align: center;
}

/*== Background =============================================================*/

body 
{
    background: #DFDFFF url(/SineBG.png) fixed;
/*    background: #DFDFFF url(/GuideBG.png); */  /*!!!Debug*/
    color: #000080;
}

/*== Typography =============================================================*/

body
{
    font-family: "Helvetica",
                 "FreeSans",
                 "Liberation Sans",
                 "Arial",
                 sans-serif;
}

p,
.Byline
{
    font-family: "FreeSerif",
                 "Nimbus Roman No9 L",
                 "Liberation Serif",
                 "Times",
                 "Times New Roman",
                 serif;
}

body
{
    font-size: 100%;
    line-height: 1.5;
}

/*The standard typographic sizes are
  6, 7, 8, 9, 10, 11, 12, 14, 16, 18, 21, 24, 36, 48, 60, 72 points.
  The sizes below match these with 1em=10pt.
*/
h1
{
    font-size: 1.8em;
    line-height: 1.667em;
    margin-top: 1.250em;
    margin-bottom: 0.417em;
}
h2
{
    font-size: 1.6em;
    line-height: 1.875em;
    margin-top: 1.406em;
    margin-bottom: 0.469em;
}
h3
{
    font-size: 1.4em;
    line-height: 1.071em;
    margin-top: 1.606em;
    margin-bottom: 0.535em;
}
h4
{
    font-size: 1.2em;
    line-height: 1.25em;
    margin-top: 1.875em;
    margin-bottom: 0.625em;
}
h5
{
    font-size: 1.1em;
    line-height: 1.364em;
    margin-top: 0.909em;
    margin-bottom: 0.455em;
}
h6
{
    font-size: 1.1em;
    line-height: 1.364em;
    margin-top: 1.364em;
    margin-bottom: 0;
}
h1+h1
{
    margin-top: -0.417em;
}
h1+h2,
h2+h2
{
    margin-top: -0.469em;
}
h1+h3,
h2+h3,
h3+h3
{
    margin-top: -0.535em;
}
h1+h4,
h2+h4,
h3+h4,
h4+h4
{
    margin-top: -0.625em;
}
h1+h5,
h2+h5,
h3+h5,
h4+h5,
h5+h5
{
    margin-top: -0.455em;
}
h1+h6,
h2+h6
{
    margin-top: -1.364em;
}
h3+h6,
h4+h6,
h5+h6,
h6+h6
{
    margin-top: -0.455em;
    margin-bottom: 0.455em;
}
p,
li
{
    font-size: 1em;
    line-height: 1.5em;
}

/*Block paragraphs*/
p,
ul
{
/*    margin-top: 1.5em; */     /*match line-height*/
/*    margin-bottom: 1.5em; */  /*  "     "    "   */
}
/*or Indented paragraphs*/
p
{
    margin-bottom: 0;
}
p + p
{
    text-indent: 1.5em;
    margin-top: 0;
}

blockquote
{
    margin: 1.5em;  /*match line-height*/
}

acronym,
abbr,
.Number
{
    letter-spacing: 0.1em;
}

/*-- Buttons within headers -------------------------------------------------*/

h1 .Button
{
    font-size: 0.555em;
}
h2 .Button
{
    font-size: 0.625em;
}
h3 .Button
{
    font-size: 0.714em;
}
h4 .Button
{
    font-size: 0.833em;
}
h5 .Button,
h6 .Button
{
    font-size: 0.909em;
}

/*== Links ==================================================================*/

p a:link 
{
    color: #0000EE;
    text-decoration: none;
}
p a:visited 
{ 
    color: #551A8B;
    text-decoration: none;
}
p a:hover 
{
    color: #EE00FF;
    text-decoration: underline;
}
p a:active 
{
    color: #EE00FF;
    text-decoration: none;
}

/*== Explicit position (rarely necessary) ==================================*/

.Center 
{
    text-align: center;
}
.Left 
{
    text-align: left;
}
.Right 
{
    text-align: right; 
}

/*== Major divisions ========================================================*/

.MessageDiv 
{
    text-align: center;
    color: #880000;
    background-color: #DFDFFF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    border-color: #880000;
    border-width: medium;
    border-style: double;
    padding: 1em;
}

.MinorDiv
{
    margin-top: 1em;
    margin-bottom: 1em;
}

.MajorDiv
{
    background-color: #DFDFFF;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 60em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
}

table 
{
    margin-left: auto;
    margin-right:auto;
}

/*== Forms and user-interface elements ======================================*/

input
{
    text-align: center;
}
select
{
    text-align: center;
}

label
{
    margin-left: 1em;
}

.Button
{
    color: #EEEEEE;
    background-color: #003366;
    border-color: #DFDFFF;
    border-width: medium;
    border-style: outset;
    border-radius: 0.75em;
    -moz-border-radius: 0.75em;
    -webkit-border-radius: 0.75em;
    padding: 0.25em 1em;
    text-align: center;
    text-decoration: none;
    padding: 0.25em 1em;
    margin: 0.25em 1em;
    font-weight: normal;
}

.Button:hover, 
.Button:active
{ 
    color: #FFFFFF;
    background-color: #336699;
    border-style: inset;
}

form div.ButtonGroup
{
    text-align: center;
}

.DatePart
{
    font-weight: bold;
}
.DatePart2
{
    font-weight: normal;
}

table.MayanLongCount td
{
    width: 4.5em;
}
table.MayanLongCount td.Dot
{
    width: 0;
}
table.MayanLongCount label
{
    margin-left: 0;
}

td.ChineseDay
{
    width: 12em;
}
td.ChineseMonth
{
    width: 14em;
}
td.ChineseYear
{
    width: 16em;
}

/*== Month table ============================================================*/

table.MonthTable thead td
{
    height: 2em;
    background-color: #FFFFFF;
    border-style: double;
    font-weight: bold;
}
table.MonthTable th
{
    width: 8.5em;
    height: 2em;
    background-color: #FFFFFF;
    border-style: double;
    font-weight: bold;
}
td.MTDay
{
    vertical-align: middle;
    width: 8.5em;
    height: 3em;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: thin;
}
td.MTDay.CurDay
{
    border-width: medium;
}
td.MTDay.Today
{
    font-weight: bold;
    background-color: #DFDFFF;
}

table.MonthTable.Cols10 th,
table.MonthTable.Cols10 td.MTDay
{
    width: 5.5em;
}

/*== About section ==========================================================*/

.AboutTop
{
    background: #DFDFFF;
}

.AboutText
{
    text-align: left;
}

