body { background: #DFDFFF url(SineBG.png) fixed; color: #000000;
        font-family: Arial, sans-serif; font-size: medium;
        font-weight: normal; font-style: normal; font-variant: normal;
        text-decoration: none; text-transform: none }
body.no_graphic { background: #DFDFFF }

a:link { color: #0000EE; text-decoration: none }
a:visited { color: #551A8B; text-decoration: none }
a:active { color: #EE00FF; text-decoration: none }

h1 { font-family: Arial, sans-serif; font-size: x-large; font-weight: bold }
h2 { font-family: Arial, sans-serif; font-size: large; font-weight: bold }
h3 { font-family: Arial, sans-serif; font-size: medium; font-weight: bold }
h4 { font-family: Arial, sans-serif; font-size: medium; font-weight: normal }
h5 { font-family: Arial, sans-serif; font-size: medium; font-weight: lighter}
h6 { font-family: Arial, sans-serif; font-size: small; font-weight: lighter}
h1, h2, h3, h4, h5 { text-align: center }

em { font-weight: bold }
strong { font-weight: bolder }

big { font-size: large }
small { font-size: small }

address { font-family: Arial, sans-serif }
code { font-family: monospace }
var { font-family: monospace; font-weight: bold }
cite { font-style: italic }

b { font-weight: bold }
i { font-style: italic }
u { text-decoration: underline }
tt { font-family: monospace }
s { text-decoration: line-through }
blink { text-decoration: blink }

.Center { text-align: center; margin-left: auto; margin-right: auto }
.Left { text-align: left; margin-left: 0; margin-right: auto }
.Right { text-align: right; margin-left: auto; margin-right: 0 }

form { text-align: center }
form table { margin-left: auto; margin-right: auto }

.MessageDiv { text-align: center; color: #880000; background-color: #DFDFFF;
        margin-left: auto; margin-right: auto; margin-bottom: 1em;
        border-color: #880000; border-width: medium; border-style: double;
        padding: 1em }
.FormDiv { text-align: center;  margin-top: 1em; margin-bottom: 1em }
.CalTableDiv { margin-top: 1em; margin-bottom: 1em }
.AboutDiv { margin-top: 1em; margin-bottom: 1em }
.HolidayDiv { margin-top: 1em; margin-bottom: 1em }
.Byline { margin-top: 1em; margin-bottom: 1em }

.DatePart { font-family: Arial, sans-serif; font-size: medium;
        font-weight: bold }
.DatePart2 { font-family: Arial, sans-serif; font-size: medium;
        font-weight: normal }

input.DatePart { text-align: center }
select.DatePart { text-align: center }

.Button, .MenuItem { color: #EEEEEE; background-color: #003366;
        border-color: #DFDFFF; border-width: medium; border-style: outset;
        padding: 0.25em 1em; margin: 0.25em 1em }
.Button:hover, .Button:active, .MenuItem:hover, .MenuItem.active
    { color: #FFFFFF; background-color: #336699; border-style: inset }
.FormButtons { text-align: center }

table.CalTable { margin-left: auto; margin-right:auto }
table.CalTable td { text-align: center; border-style: double;
                    background-color: #FFFFFF }
td.CalMonth { height: 2em }
td.CalWeekday { width: 8em; height: 2em }
td.CalDayStem { width: 8em; height: 2em }
td.CalDay { vertical-align: middle;
        width: 8em; height: 3em }
table.CalTable td.CurDay { background-color: #DFDFFF }
td.Today { font-weight: bold }
table.ChineseDateTable { margin-left: auto; margin-right:auto }
td.ChineseDay { width: 16em }
td.ChineseMonth { width: 16em }
td.ChineseYear { width: 18em }
td.ChineseChange { width: 6em }
table.BadiDateTable { margin-left: auto; margin-right:auto }

.Byline { text-align: center;
       font-family: Arial, sans-serif; font-size: medium; font-weight: lighter}